---
export interface Props {
	path: string;
	iconname: string;
	width: string;
	service: string;
    css: string;
}

const { width } = Astro.props;
const { path } = Astro.props;
const { iconname } = Astro.props;
const { service } = Astro.props;
const { css } = Astro.props;

import { Icon } from "astro-iconify";
---

<a
	href={path}
	aria-label={service}
	target="_self"
	class={`flex items-center justify-center p-2 m-1 w-40 text-center rounded-lg ${ css }`}
>
	<Icon name={iconname} width={width} />
    <div class="ml-2 text-lg text-white">{service}</div>
</a>

<style lang="css">
	[astro-icon] {
		color: white;
	}
</style>